.cardWrapper {
  z-index: 1;
}

.card {
  background-image: linear-gradient( 
    rgba(231, 205, 60, 0.1),
    rgba(231, 205, 60, 1) 90%
  ),
  url(./../../../public/assets/card-bg2.jpg);

  background-repeat: no-repeat;
  background-position: center;

  padding: 10px;

  min-width: 240px;
  border-radius: 15px;
  border: 5px solid #e7cd3c;

  z-index: 100;
}

.card__head {
  margin-bottom: 10px;
}

.card__head .chip {
  border: 3px #e7cd3c solid;
  border-radius: 40px;
  color: #252525;

  background-color: #ffffff;
  padding: 5px 20px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
}

.chip span:last-of-type {
  color: rgb(53, 189, 26);

  display: flex;
  align-items: center;
  justify-content: center;
}

.chip span:last-of-type svg {
  font-size: 13px;
  margin-right: 5px;
}

.card__content {
  text-align: center;
  border-radius: 25px;

  padding: 20px;
  backdrop-filter: blur(8px);
  background-color: #ffffff6e;

  border: 2px solid #e7cd3c8a;
  outline: 2px solid #e7cd3c8a;
  outline-offset: -6px;
}

.logo {
  width: 150px;
  max-height: 175px;
}

.meta {
  color: white;
  margin-top: 10px;

  display: flex;
  align-items: center;
}

.metaChip {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 10px;
  margin-right: 6px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.metaChip--energy {
  color: rgb(190, 137, 38);
}

.metaChip--battle {
  color: rgb(233, 59, 59);
}

.meta > .metaChip:last-of-type {
  margin-right: 0;
  margin-left: auto;
  color: rgb(61, 61, 61);
}

.meta > .metaChip:last-of-type::before {
  content: '#';
  font-family: Arial, Helvetica, sans-serif;

  position: relative;
  top: 1px;
}

.card__foot {
  padding: 35px;
  margin-top: 10px;
  border-radius: 25px;
  
  color: transparent;
  background-color: transparent;

  font-size: 20px;
  text-align: center;
}

.card--winner .card__foot {
  color: #ffffff;
  background-color: #049305;
}

.card--loser .card__foot {
  color: #ffffff;
  background-color: #c30d0c;
}

.card-points {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.card-points .highlight {
  color: #fdcc05;
}

.algo-cost {
  font-size: 20px;
  color: #ffffff;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 10px;
}

.algo-cost .highlight {
  color: #1d8d23;
}
