.card-points {
  font-size: 20px;
  color: #fdcc05;
  text-align: center;
  
  margin-bottom: 10px;
}

.card {
  background-color: #163925;
  padding: 10px;

  min-width: 240px;
  border-radius: 25px;
  border: 3px solid #e7cd3c;
}

.card__head {
  margin-bottom: 10px;
}

.card__head .chip {
  border: 3px #27adca solid;
  border-radius: 40px;

  background-color: #ffffff;
  padding: 5px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
}

.card__content {
  text-align: center;
  border-radius: 25px;

  padding: 20px;
  background-color: #03200e;
}

.logo {
  width: 150px;
}

.card__foot {
  padding: 35px;
  margin-top: 10px;
  border-radius: 25px;
  
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.card--winner .card__foot {
  background-color: #049305;
}

.card--loser .card__foot {
  background-color: #c30d0c;
}
