.header {
  padding: 80px 50px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: #222538;
  border: #343a5c 6px solid;
  border-radius: 40px;
  
  max-height: 140px;
  max-width: 950px;
  margin: auto;
}

.header .wrapper .items {
  display: flex;
  flex: 1;
  
  max-width: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.items .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  cursor: pointer;
}

.items .item__logo {
  margin: auto;
  width: 220px;
}

.items .item__icon {
  transition-property: transform filter;
  transition-duration: 0.2s;
}

.items .item__label {
  color: #ffffff;
  margin-top: 10px;
  font-size: 20px;

  transition-property: -webkit-text-fill-color;
  transition-duration: 0.2s;

  -webkit-text-stroke: 1px rgb(10, 10, 10);
  -webkit-text-fill-color: white;
}

.item:hover .item__icon {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px goldenrod);
}

.item:hover .item__label {
  -webkit-text-fill-color: goldenrod;
}
